
//- TODO: maybe design some own colors, instead of copying from gmail :)

.button
	background #d14836
	border-radius 3px
	border 1px solid transparent
	box-shadow 0 1px 1px rgba(0,0,0,0.2)
	color white
	display inline-block
	padding 5px
	text-decoration none

	&:hover
		background #c53727
		border 1px solid #b0281a
