extends layouts/page

block title
	title Prime Documentation

block page-content

	.docs

		.sidebar
			div
				include ../docs/toc-{version}.html

		.content
			div
				include ../docs/content-{version}.html
