@import "includes/home"
@import "includes/docs"
@import "includes/navigation"
@import "includes/grid"
@import "includes/buttons"

width = 996px

body
	background #efefef
	font-family sans-serif
	padding 0
	margin 0

.container
	margin 0 auto
	width width


#container
	overflow hidden

	.sidebar,
	.content
		float left

	.sidebar
		width 200px

		> div
			padding 1em

			a
				display block
				padding 3px 50x

				&.top
					font-weight bold
					padding 20px 5px

	.content
		width 800px

		> div
			padding 0 30px 30px 30px

#header
	background #999
	height 3em
	overflow hidden

	.logo
		float left
		width 230px

		h1
			margin 0

	.nav
		float left

